<div class="container one column">
  <h1><span class="tiffBlock">tiff.</span> {{country}} {{eventcollection}}</h1>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <div ng-if="!events" class="one column">
      <div class="loader">
        <div class="circle">&nbsp;</div>
        <div class="circle">&nbsp;</div>
        <div class="circle">&nbsp;</div>
        <div class="circle">&nbsp;</div>
      </div>
  </div>
  <div ng-if="events">
    <h3>On now at <span class="tiffBlock">tiff.</span></h3>
    <div class="onNow">
      <div ng-repeat="obj in events track by $index" class="events" ng-click="selectGroup(obj)">
        {{obj.title}}
      </div>
      <div ng-if="films" ng-click="selectGroup(films)">
        Long-Form Films
      </div>
    </div>
    

    <h3 ng-if="selectedGroup == films"><em>Films</em></h3>
    <h3 ng-if="selectedGroup !== films"><em>{{selectedTitle}}</em></h3>
    <ul id="categories" class="clr">
      <li ng-repeat="obj in selectedGroup track by $index" ng-click="selectThis(obj)">
        <div class="hexagon">
          <h1 class="title">{{obj.title}}</h1>
          <img ng-src="{{obj.relatedmedia[0].still}}"/>
          <p ng-bind-html="obj.filmhex"></p>
        </div>
      </li>
    </ul>

    <h3>Special Events</h3>
    <div class="row events">
      <div ng-repeat="obj in talks track by $index" class="talks one-third column">
        <img class="callout" ng-src="{{obj.relatedmedia[0].still}}"/>
        <h4>{{obj.title}}</h4>
        <p>{{obj.rating}}</p>
        <br>
        <span ng-bind-html="obj.filmpitch"></span></p>
      </div>
    </div>
    <div class="selection" ng-if="selected">
      <div ng-click="deselectThis()" class="close">Close &times;</div>
      <h3>{{selected.title}}</h3>
      <p>{{selected.rating}}</p>
      <p ng-bind-html="selected.filmpitch"></p>
    </div>
  </div>
</div>
